.representativeSection {
    margin-bottom: 3rem;
}

.representativeSection h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.skillsSection {
    margin-bottom: 3rem;
}

.skillsSection h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
    align-items: stretch;
    margin-top: 1.5rem;
    width: 100%;
}

@media (max-width: 600px) {
    .projectList {
        flex-direction: column;
        gap: 0.7rem;
    }
}